.pointer {
    cursor: pointer;
}

#loading-bar .bar {
    position: relative;
}

.fixed-panel,
.fixed-panel-test {
    min-height: 200;
    max-height: 200;
    overflow-y: auto;
}

.fixed-panel-test {
    min-height: 300;
    max-height: 300;
    overflow-y: auto;
}


/*http://callmenick.com/post/css-transitions-transforms-animations-flipping-card*/

.card {
    position: relative;
    text-align: center;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.card__back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.card_back_color {
    background-color: white;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}